{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not cart %}
<div>
    <h1 class="text-center">Cart is empty</h1>
    <strong><a href="{% url 'shop:allprodcat' %}">Continue Shopping</a></strong>
</div>
{% else %}
<div class="row">
    <h2 class="text-center">SHOPPING CART</h2>
    <div class="col-sm-6">
        <table class="table table-bordered">
            <tr>
                <th colspan="5">CART ITEMS</th>
            </tr>
            {% for i in cart %}
            <tr>
            <td><img src="{{i.product.image.url}}" height="100px" width="100px"></td>
             <td><p><strong>{{i.product.name}}</strong></p></td>
                <td><p><strong>Product Id:{{i.product.id}}</strong></p>
             <p><strong>Unit Price:{{i.product.price}}</strong></p>
             <p><strong>Quantity:{{i.quantity}}*{{i.product.price}}</strong></p>
                </td>
                <td><p>Subtotal:{{i.subtotal}}</p></td>
                <td>
                    {% if i.quantity < i.product.stock %}
                    <a href="{% url 'cart:add_to_cart' i.product.id %}"><i class="fa-solid fa-circle-plus"></i></a>
                    <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                    <a href="{% url 'cart:cart_delete' i.product.id %}"><i class="fa-solid fa-trash"></i></a>
                    {% else %}
                    <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                    <a href="{% url 'cart:cart_delete' i.product.id %}"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </td>
        </tr>
            {% endfor %}
        </table>
            </div>
        <div class="col-sm-6">
            <table class="table table-bordered">
                <tr class="text-center">
                    <th colspan="5">CHECK OUT</th>
                </tr>
                <tr class="text-center">
                    <td>Total Amount:{{total}}</td>
                </tr>
            </table>
            <a href="{% url 'cart:orderform' %}" class="btn btn-primary">Place order</a>
            <a href="{% url 'shop:allprodcat' %}" style="position:absolute;right:0;" class="btn btn-primary">Continue Shopping</a>
        </div>
</div>
{% endif %}
{% endblock %}
